<h1>Series</h1>


<div class="row row-cols-1 row-cols-md-3 g-4">
<% @series.each do |serie| %>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= serie.name %></h5>
        <p class="card-text"><%= serie.synopsis %></p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Director:</strong> <%= serie.director %></small>
      </div>
    </div>
  </div>
<% end %>
</div>